html{
    background-color: lightblue
}



h2,
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    padding-left:50px;
   
}
section{
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    border: 2px solid cadetblue;

}

p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
img{
    float: left;
    width: 250px;
    height: 300px;
    object-fit: cover;
    padding-top: 10px;
    padding-left: 20px;
    
 }

hr{
    color: cadetblue;
    border: 2px solid cadetblue;
}